numba
tqdm
ascii-graph
wrapt
librosa
toml
soundfile
ipdb
g2p-en
h5py
joblib
python-Levenshtein
sox
subprocess32
torch
transformers
jiwer
normalise
zipp
scikit-learn==0.23.1
scipy
unidecode
pyphen
networkx
normalise
jiwer
google
google-cloud
google-cloud-texttospeech
tensorboard